.iu-multi{ 'ng-controller' => 'multiIuCtrl', data: options }
  .iu-multi-dropzone{ 'ng-class' => '{uploading:uploaded == false}' }
    .iu-progress-bar{ style: "width: {{ uploadProgress }}%;" }
    = file_field_tag "#{record.class.name.downcase}[#{field}_attributes][][#{options[:multi]}]", multiple: true

    .iu-multi-select
      = t 'instant_upload.drag_and_drop'
      = link_to t('instant_upload.select_files'), '#', class: 'iu-multi-select-files'

  %ul.iu-multi-files-cache
    - record.send(field).each do |img|
      %li{ data: { id: img.id } }= image_tag img.send(options[:multi]).send(options[:version]).url

  .alert.iu-alert= t 'instant_upload.too_much', limit: options[:limit]

  %ul.iu-multi-files
    %li{ 'ng-repeat' => 'file in files'}
      %img{ src: "{{ file.path }}" }
      %a{ 'ng-click' => 'remove($index)'}= t 'instant_upload.remove'


